In [3]:
import pandas as pd
import matplotlib.pyplot as pt
import numpy as np

Now i am going to import data sets

In [4]:
data=pd.read_csv("DataSet/kindeyStoneUrineAnalysis.csv")

In [5]:
data.head()

   gravity    ph  osmo  cond  urea  calc  target
0    1.021  4.91   725  14.0   443  2.45       0
1    1.017  5.74   577  20.0   296  4.49       0
2    1.008  7.20   321  14.9   101  2.36       0
3    1.011  5.51   408  12.6   224  2.15       0
4    1.005  6.52   187   7.5    91  1.16       0